*{
    margin:0;
    padding:0;
}

.telainicial{
    background-color: rgb(197, 196, 196);
}

.logo{
    color: black;
    position: fixed;
    left: 15px;
    top:10px;
    font-size: 25px;
    
}


.cabecalho{
    background-color:  rgb(78, 21, 131);
    height: 50px;
    opacity: 1;
}

.links{
    
    position: fixed;
    right: 15px;
    top:15px;

}
.links2{
    margin: 0px;
    text-align: center;
    position: absolute;
    top: 475px;
    left: 650px;

   
  
    
    
}
a:link, a:visited {
	text-decoration: none;
    color: black;
    border: black;
	}
a:hover {
	text-decoration: underline;
	color: rgb(78, 21, 131);
	}
a:active {
	text-decoration: none
	}

.foto{
    width: 150px;
    text-align: center;
    position: relative;
    top: 100px;
    left:600px;


}

.titulo{
    margin: 0px;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 130px;
    
}    
.subtitulo{
    font-size: 20px;
    margin: 0px;
    text-align: center;
    position: absolute;
    top: 450px;
    left: 350px;

}
.lilas{
    color: rgb(78, 21, 131);

}

.contato{
    margin: 0px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 550px;
    


}

.habilidades{
    color: rgb(78, 21, 131);
    margin: 0px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 650px;
    left:550px;
    
}

.habilidades2{
    font-size: 20px;
    margin: 20px;
    position: absolute;
    top: 690px;

}

.habilidades3{
    color: rgb(78, 21, 131);
    margin: 0px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 950px;
    left:600px;

}